.navbar-toggler {
    border: none !important;
    padding-left: 0 !important;
    margin-top: 7px;
}

.navbar-toggler i {
   color: #333333;
}

ul {
    padding-bottom: 7px;
    padding-top: 8px;
    font-size: small;
}

li .item {
    color: #333333;
}


.item:hover {
    color: #333333;
    text-decoration: none;
}

li .active {
    border-bottom: 2px solid #333333;
    padding-bottom: 6px;
}

nav div:nth-of-type(2) {
    padding-top: 10px;
}

