/* -------------- Home Page -------------- */
.sub-head {
    color: white;
    padding-left: 16px;
    font-size: 0.95em;
    margin-top: 10px;
}

#bedBtn {
    background: #f9d4cb;
    border: none;
    margin-top: -7px;
    margin-left: 16px;
    margin-bottom: 20px;
    padding: 2px 20px 2px 20px;
}

#beds {
    background: white;
    position: fixed;
    padding-right: 0.1%;
    padding-left: 0px !important;
    height: 79vh;
    left: 0;
    top: 21%;
}

#searchBar{
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #F9D4CB;
    border-radius: 0%;
    width: 100.5%;
    padding: 4px 8px 4px 16px !important;
}

.fa-search{
    margin-top: -21px;
    margin-right: 6%;
    font-size: 13px;
}

#scr div {
    cursor: pointer;
    /* overflow-x: hidden; */
}

#scr .basicInfo {
    color: #64869e;
    font-size: 1em;
    margin-bottom: 12px !important;
}

#scr .basicInfo div {
    font-size: 0.68em;
    color: #606060;
    overflow-wrap: break-word;
    display: flex;
}

#scr .basicInfo div i {
    font-size: 0.9em;
    color: #64869e;
    line-height: 1.08rem;
}

#scr .row .col-sm-4 {
    font-size: 0.7em;
    color: #808080;
}

#scr .row .col-sm-4 div {
    font-size: 1.8em;
    margin-top: -7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

#scr hr {
    margin-bottom: 0.5em;
}

#scr div:last-child hr {
    display: none !important;
}

#scr .dispBed {
    background-color: #fff3f0;
    margin-bottom: 4% !important;
}

#scr .dispBed hr{
    display: none;
}

#scr .dispBed .basicInfo span {
    color: #000000;
    font-weight: 600;
    font-size: 1.1em;
}

.scrollbar {
    height: 74vh;
    padding-bottom: 48px !important;
    overflow-y: auto;
    /* padding-right: 2% !important; */
}

#scr::-webkit-scrollbar-track
{
    margin-bottom: 40px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5; */
    /* overflow-y: hidden; */
}

#scr::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

#scr::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 300px;
    
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 3px 9px;
    font: 6px;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    border-radius: 4px;
}
.sidebar span:nth-of-type(1) {
    margin-right: 2px;
}

.sidebar span:nth-of-type(2) {
    margin-right: 2px;
    margin-left: 2px;
}

.sidebar span:nth-of-type(3) {
    margin-left: 2px;
}

.p1 {
    margin-top: 10px;
    margin-bottom: -5px;
}

.p1 span {
    font-size: 0.8em;
    margin-right: 1.2em;
    line-height: 1.8em;
    color: #64869e;
}

.popup {
    color: Brown;
    font-weight: 600;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 50px 12px 0 0 !important;
}

/* ----------------------------------------------- */

/* -------- Registration Page / Login Page -------- */
#logIn,
#signUp,
#logOut {
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-color: white !important;
    background-color: transparent;
    padding: 3px 15px 3px 15px;
}

#logIn i,
#signUp i {
    margin-left: -5px;
    margin-right: 5px;
}

#loginPlace,
#signUpPlace,
#logoutPlace {
    position: absolute;
    right: 10px;
    top: 15px;
}
#register,
#dashboard,
#voluntee {
    color: white;
    margin-top: 105px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#register .form-group {
    margin-bottom: 5px;
    width: 80%;
}

#register h2,
#register h6 {
    font-weight: 400;
}

#register ::placeholder,
#taskList ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #808080;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c0c0c0;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c0c0c0;
}

#gog {
    border-radius: 20px;
    padding: 8px 15px 8px 15px;
    margin-top: 7px;
    width: 45%;
}

#gog img {
    height: 11%;
    width: 11%;
    float: left;
}

#gog span {
    float: left;
    padding-left: 8px;
    line-height: 1.3em;
    color: #eb8861;
}

#gog-mob {
    border-radius: 20px;
    padding: 3px 15px 3px 15px;
    margin-top: 7px;
    visibility: hidden;
}

#gog-mob img {
    height: 23px;
    width: 23px;
    float: left;
}

#gog-mob span {
    float: left;
    padding-left: 8px;
    line-height: 1.3em;
    color: #eb8861;
}

small {
    color: pink;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.resetPass {
    color: #fff;
    font-size: 13px;
    background-color: transparent;
    border: none;
}

#resetPasswordModal {
    color: black !important;
}

@media (max-width: 575.98px) {
    #register .form-group {
        width: 100%;
    }
    #register h6:nth-of-type(1) {
        margin-bottom: 12px;
    }
    #submitBtn {
        margin-top: 10px;
    }
    #deskView {
        visibility: hidden;
    }
    #gog-mob {
        visibility: visible;
    }
}

/* --------------------------------------------- */

/* -------------- Volunteer Page -------------- */
.volunteerTasks {
    font-size: 12px;
    margin: 30px 0px 0px 0px;
}

.locationActiveBtn {
    padding: 3px 0px 3px 10px;
    text-align: start;
    width: 60%;
    color: #eb8861 !important;
    background: white;
    margin-bottom: 3px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

.locationBtn {
    padding: 0px 0px 0px 10px;
    text-align: start;
    width: 65%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.locationBtn span {
    font-size: 14px !important;
}

#locationForm {
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: -6% !important;
    right: 1% !important;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#locationForm span {
    font-size: 30px;
    font-weight: 500;
}

#hospDetails p:nth-of-type(1) {
    font-size: 15px;
    margin-top: -6px;
}

#hospDetails p:nth-of-type(2) {
    font-size: 14px;
}

#taskList {
    padding: 5px 120px 20px 0px;
}

#taskList p:nth-of-type(1) {
    margin-bottom: 6px;
}

#taskList .form-group {
    margin-bottom: 10px;
    width: 61%;
}

#taskList .form-group label {
    font-size: 14px;
    margin-bottom: 0px;
}

#taskList .form-group input {
    font-size: 14px;
    margin-bottom: 0px;
}

#submitBtn {
    border-radius: 20px;
    color: #0f8790;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    border: none;
    background-color: white;
    padding: 5px 13px 5px 13px;
}

/* -------------------------------------------- */

/* ----------- Reset Password Modal ----------- */

#resetPasswordModal .modal-dialog {
    max-width: 35%;
}

#resetPasswordModal .modal-header {
    border-bottom: none;
    padding: 3px 5px 0px 0px;
}

#resetPasswordModal .modal-body {
    padding-top: 0.5rem;
}

#resetPasswordModal .modal-body hr {
    margin: 0 auto;
    width: 50%;
}

#resetPasswordModal .modal-body h3,
#resetPasswordModal .modal-body label {
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

#resetPasswordModal .modal-body .form-group {
    margin: 7px auto;
}

/* snackbar */
#snackBar {
    visibility: hidden;
    min-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#snackBar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 10px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 10px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 10px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* -------------------------------------------- */

/* ----------------- Admin Page --------------- */
.table-hover {
    color: white !important;
    border-color: white;
    border: 2px solid white;
    text-align: center;
}

.table-hover tr td:nth-of-type(3) {
    width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.table-hover button {
    width: 70px;
}

._18XWA{
    background-color: whitesmoke !important;
}

/* -------------------------------------------- */
