@media (min-width: 1600px) {

    /*-------------- Commons--------------*/
    .padb20 {
        padding-bottom: 20px
    }

    .padt20 {
        padding-top: 20px
    }

    .mobileOnly {
        display: none !important;
    }

    .h2,
    h2 {
        font-size: 48px !important;
        font-weight: 700 !important;
        margin-bottom: 0px !important;
    }

    p {
        font-size: 24px !important;
        font-weight: 200 !important;
        margin-bottom: 0px !important;
    }

    ol {
        margin-left: 30px !important;
    }

    #logIn,
    #signUp,
    #logOut {
        border-radius: 30px;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        background-color: transparent;
        padding: 5px 20px 5px 20px;
        font-size: 24px;
        font-weight: 400;
        margin-top: 10px;
    }
    .resetPass {
        color: #FFE2B9;
        font-size: 20px;
        font-weight: 400;
        padding: 5px 0 20px 0;
        background-color: transparent;
        border: none;
    }
    #gog {
        font-size: 24px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 50px;
        padding: 0;
    }

    #gog img {
        height: 48px;
        width: 48px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
    }

    #gog span {
        float: right;
        padding-right: 15px;
        line-height: 45px;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }


    .loginAndForgot {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        width: 80%;
        justify-content: space-between;
    }

    #gog-mob {
        font-size: 24px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 60px;
        padding: 0;

    }

    #gog-mob img {
        height: 58px;
        width: 58px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
    }

    #gog-mob span {
        float: right;
        padding-right: 15px;
        line-height: 50px;
        color: #eb8861;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }

    .imageMobile {
        order: 1;
        display: none;
    }

    .form-control {
        height: 62px !important;
        padding: .375rem .75rem;
        font-size: 20px !important;
        font-weight: 200 !important;
        font-style: italic !important;
        line-height: 1.5;
        color: #5f74e5 !important;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #FFE2B9 !important;
        border-radius: 6px !important;
        margin: 10px 0;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    li .active {
        font-weight: 400;
    }

    .navbar-nav {
        font-size: 20px;
        font-weight: 200;
        margin-top: 20px;
    }

    .volunteerMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: center;
        height: 90vh;
    }

    .messageDesktop {
        display: flex;
        order: 2;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: center;
    }

    .message {
        order: 1;
        max-width: 700px;
        margin-right: 100px;
        min-width: 600px;
    }

    .imageDesktop {
        order: 2;
    }

}

@media (min-width: 1200px) and (max-width: 1599px) {

    /*-------------- Commons--------------*/
    .padb20 {
        padding-bottom: 20px
    }

    .mobileOnly {
        display: none !important;
    }

    .padt20 {
        padding-top: 20px
    }

    .h2,
    h2 {
        font-size: 48px !important;
        font-weight: 700 !important;
        margin-bottom: 0px !important;
    }

    p {
        font-size: 24px !important;
        font-weight: 200 !important;
        margin-bottom: 0px !important;
    }

    ol {
        margin-left: 30px !important;
    }

    .imageMobile {
        order: 1;
        display: none;
    }
    .resetPass {
        color: #FFE2B9;
        font-size: 20px;
        font-weight: 400;
        padding: 5px 0 20px 0;
        background-color: transparent;
        border: none;
    }
    #logIn,
    #signUp,
    #logOut {
        border-radius: 30px;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        background-color: transparent;
        padding: 5px 20px 5px 20px;
        font-size: 24px;
        font-weight: 400;
        margin-top: 10px;
    }

    .loginAndForgot {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        width: 80%;
        justify-content: space-between;
    }

    #gog {
        font-size: 24px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 50px;
        padding: 0;
    }

    #gog img {
        height: 48px;
        width: 48px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
    }

    #gog span {
        float: right;
        padding-right: 15px;
        line-height: 45px;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }



    #gog-mob {
        font-size: 24px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 60px;
        padding: 0;

    }

    #gog-mob img {
        height: 58px;
        width: 58px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
    }

    #gog-mob span {
        float: right;
        padding-right: 15px;
        line-height: 50px;
        color: #eb8861;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }

    .form-control {
        height: 62px !important;
        padding: .375rem .75rem;
        font-size: 20px !important;
        font-weight: 200 !important;
        font-style: italic !important;
        line-height: 1.5;
        color: #5f74e5 !important;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #FFE2B9 !important;
        border-radius: 6px !important;
        margin: 10px 0;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    li .active {
        font-weight: 400;
    }

    .navbar-nav {
        font-size: 20px;
        font-weight: 200;
        margin-top: 20px;
    }

    .volunteerMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: center;
        height: 90vh;
    }

    .messageDesktop {
        display: flex;
        order: 2;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: center;
        padding: 5%;
    }

    .message {
        order: 1;
        max-width: 500px;
        min-width: 500px;
    }

    .imageDesktop {
        order: 2;
    }

    .imageDesktop img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {

    /*-------------- Commons--------------*/
    .padb20 {
        padding-bottom: 20px
    }

    .mobileOnly {
        display: none !important;
    }

    .padt20 {
        padding-top: 20px
    }

    .h2,
    h2 {
        font-size: 36px !important;
        font-weight: 700 !important;
        margin-bottom: 0px !important;
    }

    p {
        font-size: 20px !important;
        font-weight: 200 !important;
        margin-bottom: 0px !important;
    }

    ol {
        margin-left: 20px !important;
    }

    .imageMobile {
        order: 1;
        display: none;
    }
    .resetPass {
        color: #FFE2B9;
        font-size: 20px;
        font-weight: 400;
        padding: 5px 0 20px 0;
        background-color: transparent;
        border: none;
    }
    #logIn,
    #signUp,
    #logOut {
        border-radius: 30px;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        background-color: transparent;
        padding: 5px 20px 5px 20px;
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
    }

    .loginAndForgot {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        width: 80%;
        justify-content: space-between;
    }

    #gog {
        font-size: 20px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 44px;
        padding: 0;
    }

    #gog img {
        height: 42px;
        width: 42px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
    }

    #gog span {
        float: right;
        padding-right: 15px;
        line-height: 40px;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }



    #gog-mob {
        font-size: 20px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 60px;
        padding: 0;

    }

    #gog-mob img {
        height: 58px;
        width: 58px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
    }

    #gog-mob span {
        float: right;
        padding-right: 15px;
        line-height: 50px;
        color: #eb8861;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }

    .form-control {
        height: 40px !important;
        padding: .375rem .75rem;
        font-size: 20px !important;
        font-weight: 200 !important;
        font-style: italic !important;
        line-height: 1.5;
        color: #5f74e5 !important;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #FFE2B9 !important;
        border-radius: 6px !important;
        margin: 10px 0;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    li .active {
        font-weight: 400;
    }

    .navbar-nav {
        font-size: 20px;
        font-weight: 200;
        margin-top: 15px;
    }

    .volunteerMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: center;
        height: 90vh;
    }

    .messageDesktop {
        display: flex;
        order: 2;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: center;
        padding: 20px;
    }

    .message {
        order: 1;
        max-width: 400px;
        min-width: 400px;
    }

    .imageDesktop {
        order: 2;
    }

    .imageDesktop img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 899px) {

    /*-------------- Commons--------------*/
    .padb20 {
        padding-bottom: 20px
    }

    .mobileOnly {
        display: none !important;
    }

    .padt20 {
        padding-top: 20px
    }

    .h2,
    h2 {
        font-size: 32px !important;
        font-weight: 700 !important;
        margin-bottom: 0px !important;
    }

    p {
        font-size: 20px !important;
        font-weight: 200 !important;
        margin-bottom: 0px !important;
    }

    ol {
        margin-left: 18px !important;
    }
    .resetPass {
        color: #FFE2B9;
        font-size: 20px;
        font-weight: 400;
        padding: 5px 0 20px 0;
        background-color: transparent;
        border: none;
    }
    .loginAndForgot {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        width: 80%;
        justify-content: space-between;
    }

    #logIn,
    #signUp,
    #logOut {
        border-radius: 30px;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        background-color: transparent;
        padding: 5px 20px 5px 20px;
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
    }

    #gog {
        font-size: 20px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 44px;
        padding: 0;
    }

    #gog img {
        height: 42px;
        width: 42px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
    }

    #gog span {
        float: right;
        padding-right: 15px;
        line-height: 40px;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }



    #gog-mob {
        font-size: 20px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 60px;
        padding: 0;

    }

    #gog-mob img {
        height: 58px;
        width: 58px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
    }

    #gog-mob span {
        float: right;
        padding-right: 15px;
        line-height: 50px;
        color: #eb8861;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }

    .form-control {
        height: 40px !important;
        padding: .375rem .75rem;
        font-size: 20px !important;
        font-weight: 200 !important;
        font-style: italic !important;
        line-height: 1.5;
        color: #5f74e5 !important;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #FFE2B9 !important;
        border-radius: 6px !important;
        margin: 10px 0;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    li .active {
        font-weight: 400;
    }

    .navbar-nav {
        font-size: 20px;
        font-weight: 200;
        margin-top: 15px;
    }

    .volunteerMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: center;
        height: 90vh;
    }

    .messageDesktop {
        display: flex;
        order: 2;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: center;
        padding: 20px;
    }

    .message {
        order: 1;
        max-width: 400px;
        min-width: 400px;
    }

    .imageDesktop {
        order: 2;
        display: none;
    }

    .imageDesktop img {
        width: 100%;
        height: auto;
    }

    .imageMobile {
        order: 1;
        padding: 0 120px;
    }

    .imageMobile img {
        width: 100%;
        height: auto;
    }
}
@media (min-width: 577px) and (max-width: 767px) {

    /*-------------- Commons--------------*/
    .h2,
    h2 {
        font-size: 32px !important;
        font-weight: 700 !important;
        margin-bottom: 0px !important;
    }

    .desktopOnly {
        display: none !important;
    }

    p {
        font-size: 16px !important;
        font-weight: 300 !important;
        margin-bottom: 0px !important;
    }

    ol {
        margin-left: 16px !important;
    }
    .resetPass {
        color: #FFE2B9;
        font-size: 20px;
        font-weight: 400;
        padding: 5px 0 20px 0;
        background-color: transparent;
        border: none;
    }
    #logIn,
    #signUp,
    #logOut {
        border-radius: 30px;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        background-color: transparent;
        padding: 5px 20px 5px 20px;
        font-size: 20px;
        font-weight: 400;
    }

    .loginAndForgot {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    #gog {
        font-size: 20px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 44px;
        padding: 0;
    }

    #gog img {
        height: 58px;
        width: 58px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
    }

    #gog span {
        float: right;
        padding-right: 15px;
        line-height: 50px;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }



    #gog-mob {
        font-size: 20px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 44px;
        padding: 0;
        margin-left: 10px;
    }

    #gog-mob img {
        height: 42px;
        width: 42px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
        display: none;
    }

    #gog-mob span {
        float: right;
        padding-right: 10px;
        line-height: 40px;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }

    .form-control {
        height: 40px !important;
        padding: .375rem .75rem;
        font-size: 20px !important;
        font-weight: 200 !important;
        font-style: italic !important;
        line-height: 1.5;
        color: #5f74e5 !important;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #FFE2B9 !important;
        border-radius: 6px !important;
        margin: 10px 0;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    li .active {
        font-weight: 400;
    }

    .navbar-nav {
        font-size: 20px;
        font-weight: 200;
        margin-top: 15px;
    }

    .volunteerMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
        height: 90vh;
    }

    .messageDesktop {
        display: flex;
        order: 2;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: center;
        width: 100%;
    }

    .message {
        order: 1;
        max-width: 100%;
        min-width: 80%;
    }

    .imageDesktop {
        order: 2;
        display: none;
    }

    .imageDesktop img {
        width: 100%;
        height: auto;
    }

    .imageMobile {
        order: 1;
        padding: 0 40px;
    }

    .imageMobile img {
        width: 100%;
        height: auto;
    }

    .padb20 {
        padding-bottom: 10px
    }

    .padt20 {
        padding-top: 10px
    }
}
@media (max-width: 576px) {

    /*-------------- Commons--------------*/
    .h2,
    h2 {
        font-size: 32px !important;
        font-weight: 700 !important;
        margin-bottom: 0px !important;
    }

    .desktopOnly {
        display: none !important;
    }

    p {
        font-size: 16px !important;
        font-weight: 300 !important;
        margin-bottom: 0px !important;
    }

    ol {
        margin-left: 16px !important;
    }
    .resetPass {
        color: #FFE2B9;
        font-size: 20px;
        font-weight: 400;
        padding: 5px 0 20px 0;
        background-color: transparent;
        border: none;
    }
    #logIn,
    #signUp,
    #logOut {
        border-radius: 30px;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        background-color: transparent;
        padding: 5px 20px 5px 20px;
        font-size: 20px;
        font-weight: 400;
    }

    .loginAndForgot {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    #gog {
        font-size: 20px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 44px;
        padding: 0;
    }

    #gog img {
        height: 58px;
        width: 58px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
    }

    #gog span {
        float: right;
        padding-right: 15px;
        line-height: 50px;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }



    #gog-mob {
        font-size: 20px;
        font-weight: 400;
        border: 2px solid #FFE2B9;
        color: #FFE2B9;
        text-decoration: none;
        border-color: #FFE2B9 !important;
        border-radius: 30px;
        height: 44px;
        padding: 0;
        margin-left: 10px;
    }

    #gog-mob img {
        height: 42px;
        width: 42px;
        float: left;
        border: 8px solid #FFF;
        border-radius: 30px;
        background-color: #FFF;
        /* padding: 15px; */
        margin-left: -1px;
        margin-top: -1px;
        display: none;
    }

    #gog-mob span {
        float: right;
        padding-right: 10px;
        line-height: 40px;
        color: #FFE2B9;
        padding-left: 10px;
        white-space: nowrap;
    }

    .form-control {
        height: 40px !important;
        padding: .375rem .75rem;
        font-size: 20px !important;
        font-weight: 200 !important;
        font-style: italic !important;
        line-height: 1.5;
        color: #5f74e5 !important;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #FFE2B9 !important;
        border-radius: 6px !important;
        margin: 10px 0;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    li .active {
        font-weight: 400;
    }

    .navbar-nav {
        font-size: 20px;
        font-weight: 200;
        margin-top: 15px;
    }

    .volunteerMessage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
        height: 90vh;
    }

    .messageDesktop {
        display: flex;
        order: 2;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-content: center;
        width: 100%;
    }

    .message {
        order: 1;
        max-width: 100%;
        min-width: 80%;
    }

    .imageDesktop {
        order: 2;
        display: none;
    }

    .imageDesktop img {
        width: 100%;
        height: auto;
    }

    .imageMobile {
        order: 1;
        padding: 0 40px;
    }

    .imageMobile img {
        width: 100%;
        height: auto;
    }

    .padb20 {
        padding-bottom: 10px
    }

    .padt20 {
        padding-top: 10px
    }
}

#navbarNav > ul > li:nth-child(1){
    margin-right:20px;
}

/* -------------- Home Page -------------- */
.sub-head {
    color: white;
    padding-left: 16px;
    font-size: 0.95em;
    margin-top: 10px;
}

#bedBtn {
    background: #f9d4cb;
    border: none;
    margin-top: -7px;
    margin-left: 16px;
    margin-bottom: 20px;
    padding: 2px 20px 2px 20px;
}

#beds {
    background: white;
    position: fixed;
    padding-right: 0.1%;
    padding-left: 0px !important;
    height: 79vh;
    left: 0;
    top: 21%;
}

#searchBar{
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #F9D4CB;
    border-radius: 0%;
    width: 100.5%;
    padding: 6px 8px 6px 16px !important;
    font-size: 12px;
}

.fa-search{
    margin-top: -21px;
    margin-right: 1.2em;
    font-size: 12px;
}

#scr div {
    cursor: pointer;
    /* overflow-x: hidden; */
}

#scr > div:first-of-type{
    padding-top: 15px !important;
}

#scr > div:last-child{
    margin-bottom: 15px;
}

#scr .basicInfo {
    color: #64869e;
    font-size: 1em;
    margin-bottom: 5px !important;
}

#scr .basicInfo div {
    font-size: 0.68em;
    color: #606060;
    overflow-wrap: break-word;
    display: flex;
}

#scr .basicInfo div i {
    font-size: 0.9em;
    color: #64869e;
    line-height: 1.08rem;
}

#scr .row .col-sm-4 {
    font-size: 0.7em;
    color: #808080;
}

#scr .row .col-sm-4 div {
    font-size: 1.8em;
    margin-top: -7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

#scr hr {
    margin-bottom: 0.5em;
}

#scr div:last-child hr {
    display: none !important;
}

#scr .dispBed {
    background-color: #fff3f0;
    margin-bottom: 4% !important;
}

#scr .dispBed hr{
    display: none;
}

#scr .dispBed .basicInfo span {
    color: #4D4D4D;
    font-weight: 600;
    font-size: 1.1em;
}

#scr .dispBed .basicInfo{
    padding-bottom: 3px;
}

.scrollbar {
    height: 74vh;
    padding-bottom: 7px !important;
    overflow-y: auto;
    /* padding-right: 2% !important; */
}

#scr::-webkit-scrollbar-track
{
    margin-top: 5px;
    margin-bottom: 20px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5; */
    /* overflow-y: hidden; */
}

#scr::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

#scr::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 300px;
    
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 3px 9px;
    font: 6px;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    border-radius: 4px;
}
.sidebar span:nth-of-type(1) {
    margin-right: 2px;
}

.sidebar span:nth-of-type(2) {
    margin-right: 2px;
    margin-left: 2px;
}

.sidebar span:nth-of-type(3) {
    margin-left: 2px;
}

.p1 {
    margin-top: 10px;
    margin-bottom: -5px;
}

.p1 span {
    font-size: 0.7em;
    margin-right: 1.2em;
    line-height: 1.8em;
    color: #64869e;
}

.popup {
    color: Brown;
    font-weight: 600;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 50px 12px 0 0 !important;
}

/* ----------------------------------------------- */

/* -------- Registration Page / Login Page -------- */
#logIn,
#signUp,
#logOut {
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-color: white !important;
    background-color: transparent;
    padding: 3px 15px 3px 15px;
}

#logIn i,
#signUp i {
    margin-left: -5px;
    margin-right: 5px;
}

#loginPlace,
#signUpPlace,
#logoutPlace {
    position: absolute;
    right: 10px;
    top: 15px;
}
#register,
#dashboard,
#voluntee {
    color: white;
}

#register .form-group {
    margin-bottom: 5px;
    width: 80%;
}

#register ::placeholder,
#taskList ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #808080;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c0c0c0;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c0c0c0;
}


small {
    color: pink;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
}


#resetPasswordModal {
    color: black !important;
}

@media (max-width: 575.98px) {
    #register .form-group {
        width: 100%;
    }

    #register h6:nth-of-type(1) {
        margin-bottom: 12px;
    }

    #submitBtn {
        margin-top: 10px;
    }

    .desktopOnly {
        display: none;
    }

    .mobileOnly {
        display: none;
    }
}

/* --------------------------------------------- */

/* -------------- Volunteer Page -------------- */
.volunteerTasks {
    font-size: 12px;
    margin: 30px 0px 0px 0px;
}

.locationActiveBtn {
    padding: 3px 0px 3px 10px;
    text-align: start;
    width: 60%;
    color: #eb8861 !important;
    background: white;
    margin-bottom: 3px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

.locationBtn {
    padding: 0px 0px 0px 10px;
    text-align: start;
    width: 65%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.locationBtn span {
    font-size: 14px !important;
}

#locationForm {
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: -6% !important;
    right: 1% !important;
}

#locationForm span {
    font-size: 30px;
    font-weight: 500;
}

#hospDetails p:nth-of-type(1) {
    font-size: 15px;
    margin-top: -6px;
}

#hospDetails p:nth-of-type(2) {
    font-size: 14px;
}

#taskList {
    padding: 5px 120px 20px 0px;
}

#taskList p:nth-of-type(1) {
    margin-bottom: 6px;
}

#taskList .form-group {
    margin-bottom: 10px;
    width: 61%;
}

#taskList .form-group label {
    font-size: 14px;
    margin-bottom: 0px;
}

#taskList .form-group input {
    font-size: 14px;
    margin-bottom: 0px;
}

#submitBtn {
    border-radius: 20px;
    color: #0f8790;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    border: none;
    background-color: white;
    padding: 5px 13px 5px 13px;
}

/* -------------------------------------------- */

/* ----------- Reset Password Modal ----------- */

#resetPasswordModal .modal-dialog {
    max-width: 35%;
}

#resetPasswordModal .modal-header {
    border-bottom: none;
    padding: 3px 5px 0px 0px;
}

#resetPasswordModal .modal-body {
    padding-top: 0.5rem;
}

#resetPasswordModal .modal-body hr {
    margin: 0 auto;
    width: 50%;
}

#resetPasswordModal .modal-body h3,
#resetPasswordModal .modal-body label {
    text-align: center;
}

#resetPasswordModal .modal-body .form-group {
    margin: 7px auto;
}

/* snackbar */
#snackBar {
    visibility: hidden;
    min-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    position: fixed;
    z-index: 1;
    bottom: 10px;
    font-size: 15px;
}

#snackBar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 10px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 10px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 10px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* -------------------------------------------- */

/* ----------------- Admin Page --------------- */
.table-hover {
    color: white !important;
    border-color: white;
    border: 2px solid white;
    text-align: center;
}

.table-hover tr td:nth-of-type(3) {
    width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.table-hover button {
    width: 70px;
}

._18XWA{
    background-color: whitesmoke !important;
}

/* -------------------------------------------- */
