/* -------------- Home Page -------------- */
.sub-head{
    color: white;
    padding-left: 16px;
    font-size: 0.95em;
    margin-top: 10px;
}

#bedBtn{
    background: #F9D4CB;
    border: none;
    margin-top: -7px;
    margin-left: 16px;
    margin-bottom: 20px;
    padding : 2px 20px 2px 20px
}

#beds{
    background: white;
    position: fixed;
    padding-right: 0.1%;
    height: 79vh;
    left: 0;
    top:21%;
}

#scr div{
    cursor: pointer;
    /* overflow-x: hidden; */
}

#scr p{
    color : #64869E;
    font-size: 0.98em;
    margin-bottom: 12px !important;
}

#scr p div {
    font-size: 0.72em;
}

#scr p div i{
    font-size: 0.9em
}

#scr .row .col-sm-4{
    font-size: 0.7em;
    color: #808080;
}

#scr .row .col-sm-4 div{
    font-size: 1.8em;
    margin-top: -7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

#scr hr {
    margin-bottom: 0.5em;
}

#scr div:last-child hr{
    display: none !important;
}

#scr .dispBed{
    background-color: #FFF3F0;
    margin-bottom: 4% !important;
}

#scr .dispBed hr{
    display: none;
}

#scr .dispBed p span{
    color: #000000;
    font-weight: 600;
    font-size: 1em;
}

.scrollbar
{
	height: 74vh;
	padding-bottom: 6px !important; 
	overflow-y: auto;
    padding-right: 2% !important;
}

/* #scr::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
} */

#scr::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#scr::-webkit-scrollbar-thumb
{
	background-color: rgba(128, 128, 128, 0.8);
    border-radius: 300px;
}

#map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 3px 9px;
    font: 6px;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    border-radius: 4px;
}
.sidebar span:nth-of-type(1){
    margin-right: 2px;
}

.sidebar span:nth-of-type(2){
    margin-right: 2px;
    margin-left: 2px;
}

.sidebar span:nth-of-type(3){
    margin-left: 2px;
}

.p1{
    margin-top: 10px;
}

.p1 span{
    font-size: 0.8em;
    margin-right: 1.2em;
    line-height: 1.8em;
    color: #64869E;
}

.popup{
    color: red;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl{
    margin: 50px 12px 0 0 !important;
}

/* ----------------------------------------------- */

/* -------- Registration Page / Login Page -------- */
#logIn,
#signUp,
#logOut {
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-color: white !important;
    background-color: transparent;
    padding: 3px 15px 3px 15px;
}

#logIn i,
#signUp i{
    margin-left: -5px;
    margin-right: 5px;
}

#loginPlace,
#signUpPlace,
#logoutPlace {
    position: absolute;
    right: 10px;
    top: 15px;
}
#register, #dashboard,
#voluntee {
    color: white;
    margin-top: 105px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#register .form-group {
    margin-bottom: 5px;
    width: 80%;
}


#register h2,
#register h6 {
    font-weight: 400;
}

#register ::placeholder,
#taskList ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #808080;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #C0C0C0;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #C0C0C0;
}

#gog {
    border-radius: 20px;
    padding: 8px 15px 8px 15px;
    margin-top: 7px;
    width: 45%;
}

#gog img {
    height: 11%;
    width: 11%;
    float: left;
}

#gog span {
    float: left;
    padding-left: 8px;
    line-height: 1.3em;
    color: #EB8861;
}

#gog-mob{
    border-radius: 20px;
    padding: 3px 15px 3px 15px;
    margin-top: 7px;
    visibility: hidden;
}

#gog-mob img{
    height: 23px;
    width: 23px;
    float: left;
}

#gog-mob span{
    float: left;
    padding-left: 8px;
    line-height: 1.3em;
    color: #EB8861;
}

small {
    color: pink;
}

#loader{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.resetPass {
    color: #fff;
    font-size: 13px;
    background-color: transparent;
    border: none;
}

#resetPasswordModal {
    color:black !important;

}

@media (max-width: 575.98px) {
    #register .form-group {
        width: 100%;
    }
    #register h6:nth-of-type(1){
        margin-bottom: 12px;
    }
    #submitBtn {
        margin-top: 10px;
    }
    #deskView{
        visibility: hidden;
    }
    #gog-mob{
        visibility: visible;
    }
}


/* --------------------------------------------- */

/* -------------- Volunteer Page -------------- */
.volunteerTasks {
    font-size: 12px;
    margin:30px 0px 0px 0px;
}

.locationActiveBtn {
    padding: 3px 0px 3px 10px;
    text-align: start;
    width: 60%;
    color:#EB8861 !important;
    background: white;
    margin-bottom: 3px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

.locationBtn {
    padding: 0px 0px 0px 10px;
    text-align: start;
    width: 65%;
    color:#fff;
    background-color: transparent;
    border: none;
    font-size: 14px;
}

.locationBtn span{
    font-size: 14px !important;
}

#locationForm {
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: -6% !important;
    right: 1% !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#locationForm span{
    font-size: 30px;
    font-weight: 500;
}

#hospDetails p:nth-of-type(1){
    font-size: 15px;
    margin-top: -6px;
}

#hospDetails p:nth-of-type(2){
    font-size: 14px;
}

#taskList {
    padding: 5px 120px 20px 0px;
}

#taskList p:nth-of-type(1){
    margin-bottom: 6px;
}

#taskList .form-group{
    margin-bottom: 10px;
    width: 61%;
}

#taskList .form-group label{
    font-size: 14px;
    margin-bottom: 0px;
}

#taskList .form-group input{
    font-size: 14px;
    margin-bottom: 0px;
}

#submitBtn {
    border-radius: 20px;
    color: #0F8790 ;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    border:none;
    background-color: white;
    padding: 5px 13px 5px 13px;
    /* position: fixed; */
    /* right: 1.7% !important; */
    /* margin-top: -470px !important; */
}
/* -------------------------------------------- */

/* ----------- Reset Password Modal ----------- */

#resetPasswordModal .modal-dialog{
    max-width: 35%;
}

#resetPasswordModal .modal-header{
    border-bottom: none;
    padding: 3px 5px 0px 0px;
}

#resetPasswordModal .modal-body{
    padding-top: 0.5rem;
}

#resetPasswordModal .modal-body hr{
    margin: 0 auto;
    width: 50%;
}

#resetPasswordModal .modal-body h3,
#resetPasswordModal .modal-body label{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#resetPasswordModal .modal-body .form-group{
    margin: 7px auto;
}


/* -------------------------------------------- */