html,body{
    height: 100%;
}
body {
    background-color: #EADCC9 !important;
    margin: 0;
    font-family: 'Mulish', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Mulish', sans-serif !important;
}

/* Media Query */
@media (max-width: 575.98px){
    body{
        background: #EADCC9 !important;
    }
}